.pastQuestions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pastQuestions > form > .btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 50px;
}

.pastQuestions > div > h3 {
  text-align: center;
}

.pastQuestions > form > h4 {
  text-align: center;
}

.pastQuestions > form {
  border-radius: 50px;
  width: 100%;
}

.pastQuestions > form > .det {
  width: 100%;
}

.pastQuestions > form > .det label > button {
  background-color: transparent;
  box-shadow: var(--box-shadow);
  width: 100%;
  justify-content: space-between;
}

.pastQuestions > form > .det {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pastQuestions > form.editing {
  padding: 0;
  width: 100%;
  border-radius: 0;
}
