.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.modify > .resolve {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: var(--border);
  border-radius: 50px;
  padding: 1rem;
}

.modify > .resolve > button {
  height: 45px;
}

.courses > .edit > .btns {
  display: flex;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 50px;
  gap: 1rem;
}

.courses > .edit input {
  text-transform: capitalize;
}

.courses > .edit > label > button {
  color: var(--bg-txt);
}
