.hero {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.hero > h1 {
  text-align: center;
  padding: 0 1rem;
}

.hero > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-width: 5px 1.5px;
  border-color: var(--color-1);
  border-style: solid;
  border-radius: 20px;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0 2rem;
}

.offer > section h3 {
  color: red;
  text-align: center;
}

.offer > section h3 span {
  color: blue;
}

.offer > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  align-items: center;
  border-radius: 50px;
}

.offer > div h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instituitionsHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.instituitionsHero > div {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
}

.instituitionsHero > h2 {
  text-align: center;
  width: 90%;
  margin: auto;
}

.instituitionsHero > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.sub_offer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.sub_offer > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  width: 100%;
}

.sub_offer > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sub_offer > div > div {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}

.sub_offer > div > div > div {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}

.sub_offer > div > div h2 {
  position: relative;
  z-index: 6;
  color: white;
}

.sub_offer > div > div ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  position: relative;
  z-index: 6;
}

.sub_offer > div > div ul li span {
  border: 1.5px solid white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}

.sub_offer > div > div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  color: white;
}

.sub_offer > p {
  font-size: 1.4rem;
  width: 80%;
}

.sub_offer > div p {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.sub_offer .card1 {
  background-image: url("../public/RealQuestions.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offer .card2 {
  background-image: url("../public/UpdatedContent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offer .card3 {
  background-image: url("../public//NewsUpdates.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub_offer .card4 {
  background-image: url("../public/StudyMaterials.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
