.feedback-modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--modal-bg);
  color: var(--modal-txt);
  width: 90%;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.feedback-modal > div p {
  text-align: center;
  text-transform: capitalize;
}

.menu-modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index: 8;
}

.menu-modal > nav {
  display: flex;
  flex-direction: column;
  padding: 7rem 1rem 4rem;
  gap: 1rem;
  background-color: var(--modal-bg);
  position: fixed;
  width: 350px;
  height: 100dvh;
  z-index: 9;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.menu-modal > nav a {
  color: var(--modal-txt);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.menu-modal > nav a > span {
  color: var(--modal-txt);
}

.app-theme {
  position: fixed;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: var(--modal-bg);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 30px;
  backdrop-filter: blur(50px);
}

.search-modal {
  position: fixed;
  width: 100%;
}

.search-modal > fieldset {
  background-color: var(--modal-bg);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  width: 90%;
  margin: auto;
  border-radius: 30px;
}

.search-modal > fieldset > label button {
  color: var(--bg-txt);
}

.search-modal {
  top: 7.5rem;
}

.app-theme {
  top: 3rem;
}

.app-theme {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.app-theme > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
